*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}
@font-face {
  font-family: 'Amertha PERSONAL USE ONLY';
  src: url('../font/AmerthaPERSONALUSEONLY.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #d10a0a;
  --main-font: 'Lato', sans-serif;
  --sub-font: 'Amertha PERSONAL USE ONLY';
}
/* header css */
header{
  background: transparent;
}

header.main .row:nth-child(2) {
    justify-content: end;
}

ul.main_ul {
  list-style: none;
  display: flex;
  justify-content: end;
  background: #fff;
  border-radius: 5px;
  padding: 0;
  width: 90%;
}
ul.main_ul li a {
  text-decoration: none;
  color: #121212;
  font-family: var(--main-font);
  padding: 15px;
  margin: 0 2px;
  font-weight: 500;
  transition: all 350ms linear;
}
ul.main_ul li a:hover{
  color: var(--main-color);
}
.logo img {
  width: 70%;
}
.social_icons.d-flex.justify-content-end a {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #a9a5a3;
  border-radius: 50%;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  transition: all 350ms linear;
  margin: 0 3px;
}
.social_icons.d-flex.justify-content-end a:hover{
  background: var(--main-color);
  color: #fff;
}
.cart.d-flex.justify-content-end a {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  transition: all 350ms linear;
}
.cart.d-flex.justify-content-end.top2 {
/* margin: 0; */
position: relative;
top: -10px;
}
.cart.d-flex.justify-content-end a:hover{
  background: var(--main-color);
}
a.start_chat {
    background: var(--main-color);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    width: 24%;
    display: flex;
    justify-content: end;
    padding: 12px 30px;
    margin-left: 10px;
    position: relative;
}
a.start_chat::before{
  content: "";
  background: url(../images/chat.png) center no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 8px;
}
a.start_chat:hover{
  color: #fff;
}
ul.main_ul li {
  padding: 12px 0;
}
/* header css */
/* banner css */
.banner_home{
  background:url(../images/home_banner.png) center no-repeat;
  background-size: cover;
  padding: 12% 0 0 0;
  margin-top: -138px;
}
/* banner slider css */
.banner_home.wrapper{
  width:100%;
  padding-top: 20px;
}
.banner_home.wrapper.carousel{
  width:100%;
  margin:0px auto;
}
.slick-slider{
  margin: 0 !important;
}
.slick-slide{
  margin: 0 !important;
}
.slick-list{
  padding: 0 0 !important;
}
.slick-slide{
  margin:10px;
}
.banner_box_img img {
  width: 75%;
  }

.slick-prev, .slick-next{
  background: #000;
  border-radius: 15px;
  border-color: transparent;
}

.inner-content a{
  background: url(../images/globe-btn.png) no-repeat center;
  background-size: cover;
  padding: 10px 25px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}
.inner-content a:hover{
  text-decoration: none;
  color: #fff;
}
.slick-prev{
    background: url(../images/slick-left-btn.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    width: 30px !important;
    height: 30px !important;
    left: -8% !important;
}
.slick-prev:before{
  display: none;
}
.carousel-img .slick-prev{
  left: -6% !important;
  width: 40px !important;
  height: 40px !important;
display:none !important;
}
.slick-next{
    background: url(../images/slick-right-btn.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    width: 30px !important;
    height: 30px !important;
    right: -8% !important;
}
.slick-next:before{
  display: none;
}
.carousel-img .slick-next{
  right: -6% !important;
  width: 40px !important;
  height: 40px !important;
display:none !important;
}
.col-md-9.top-bar {
  margin: 0 !important;
}
.top a {
  margin: -7px 0;
}
.social_icons.d-flex.justify-content-end.top {
  margin: -10px 0;
}
.best_wedding_planner h1 {
      font-family: var(--sub-font);
      font-weight: normal;
      font-style: normal;
      background: linear-gradient(16deg, #fff,#c7a12c, #c7a12c);
      -webkit-background-clip: text;
      color: transparent;
      font-size: 50px;
      line-height: 77px;
  }
  .best_wedding_planner h2 {
      color: #fff;
      text-transform: capitalize;
      font-family: var(--main-font);
      font-weight: 700;
      font-size: 33px;
  }
  .best_wedding_planner p{
      color: #fff;
  }
  .slick-dots{
      bottom: 20px !important;
      margin: 0 !important;
  }
  .slick-dots li button:before{
      color: #fff !important;
      font-size: 10px !important;
      opacity: 1 !important;
  }
  .slick-dots li.slick-active button:before{
      color: #a10a0b !important;
      font-size: 14px !important;
  }
  .banner_box_img{
      position: relative;
  }
  .banner_box_img:after{
      content: "";
      position: absolute;
      background: url(../images/dots.png) center no-repeat;
      background-size: contain;
      width: 120px;
      height: 60px;
      bottom: 5px;
      z-index: -1;
  }
  .banner_box_img {
    display: flex;
    justify-content: end;
  }
/* banner slider css */
/* banner css */
/* footer css  */
.social_icons.d-flex.justify-content-end.foot {
    justify-content: flex-start !important;
}
.footer{
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4% 0 1% 0;
}

.footer-inner h4 {
    color: #d40709;
    font-size: 20px;
    text-decoration: underline;
    font-weight: 400;
    margin-top: 5%;
}
.quick_link h4 {
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 400;
}
.quick_link ul li {
    list-style: none;
    padding: 1% 0;
}

.quick_link ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.quick_link ul li a:hover{
    color: #d40709;
}

.quick_link ul {
    padding-left: 3%;
}
.contact_list {
    display: flex;
    flex-direction: column;
    margin-left: -50px;
}
.contact_list a {
    padding: 11px 0;
    font-size: 15px;
    color: #fff;
    transition: all 300ms linear;
    text-decoration: none;
}
.contact_list a:hover{
    text-decoration: none;
    color: #d40709;
}
.contact_list h4{
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 400;
}
.contact_list a i {
    margin-right: 10px;
    font-size: 18px;
    width: 24px;
}
.quick_link.ml-5 {
    margin-left: 11%;
}
.footer-inner img {
  width: 80%;
}
.footer-last h4{
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 400;
}
.footer-last p{
    color: #fff;
    font-size: 15px;
}
.footer-last form input {
    padding: 15px 96px 12px 8px;
    font-size: 13px;
}

.footer-last form button {
    width: 55px;
    height: 51px;
    position: absolute;
    background-color: #cd0505;
    border: 1px solid #cd0505;
}

.footer-last form button i {
    font-size: 24px;
    color: #fff;
}

.footer-last {
    margin-left: -10px;
}
.footer-last form {
    margin-bottom: 5%;
}
.foot-end p {
    color: #e40000;
}

.foot-end {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.contact_list a span{
    position: absolute;
}
/* footer css */
/* booking css  */
section.booking {
    margin-bottom: -4%;
}
.book-form form input {
    width: 100%;
    height: 43px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 4%;
    background-color: #f5f5f5;
    border: 1px solid #dccfcf;
    position: relative;
/* border-radius: 5px; */
}
section.booking .container {
    max-width: 1015px;
}
.book-img {
    position: relative;
}
.book-img img {
    width: 95%;
    position: absolute;
    left: 5%;
    top: 0px;
}
.book-form {
    background-color: #e40000;
    padding: 0% 12% 22px 60px;
    margin-top: 9%;
}
.booking .col-md-6{
    padding: 0;
}
.book-form {
    padding-top: 15%;
}
.book-form form h3 {
    color: #fff;
    margin-top: -22px;
    margin-bottom: 6%;
}
.book-form form button[type="submit"] {
    background: url(../images/globe-btn.png) no-repeat center;
    background-size: cover;
    padding: 10px 25px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    width: 40%;
    border: 1px solid #fff;
}

/* booking css */

.testi-top {
  text-align: center;
  margin-bottom: 4%;
}
/* .testi.slick-initialized.slick-slider .slick-prev{
  width: 40px !important;
  height: 40px !important;
  left: -19% !important;
}
.testi.slick-initialized.slick-slider .slick-next{
  width: 40px !important;
  height: 40px !important;
} */
.testi-top h1 {
  font-family: var(--sub-font);
  font-weight: normal;
  font-style: normal;
  -webkit-background-clip: text;
  color: #d10a0a;
  font-size: 50px;
}
section.testimonial .wrapper {
max-width: 60% !important;
display: block !important;
margin: 0 auto !important;
}
.testi-top h2 {
  font-size: 32px;
  font-weight: 700;
}
.client-review span i {
color: #fcbb28;
}
.client-review {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-name p {
  font-weight: 600;
  color: #323232;
}
.review-inner p {
  text-align: center;
  margin-top: 4%;
  font-weight: 500;
  color: #707070;
}
section.testimonial .wrapper .slick-dots {
top: 100%;
}
section.testimonial .wrapper .slick-dots li button:before{
  color: #f0aaaa !important;
}
section.testimonial .wrapper .slick-dots li.slick-active button:before{
  color: #d70000 !important;
}
.slick-dots li {
  margin: 0 !important;
}
.testimonial{
background-image: url(../images/test--bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 10% 0;
}
section.testimonial .wrapper .slick-next{
filter: invert(1);
top: 63%;
}
section.testimonial .wrapper .slick-prev{
filter: invert(1);
top: 63%;
}
/* about us section start */

.about-us{
padding: 6% 0;
background: url(../images/aboutus-bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
margin-top: 3%;
}

.about-us .heading h2, .services .heading h2{
font-family: var(--sub-font);
font-weight: normal;
font-style: normal;
-webkit-background-clip: text;
color: #d10a0a;
font-size: 50px;
}

.about-us .heading img {
width: auto;
}

.about-us .description{
text-align: -webkit-center;
}

.about-us .description h3{
color: #000000;
font-weight: 700;
font-family: "Lato";
font-size: 30px;
}

.about-us .description p{
color: #000000;
font-weight: 700;
font-family: "Lato";
font-size: 15px;
max-width: 75%;
padding-top: 1%;
}

.about-us .description h4{
font-size: 30px;
line-height: 51px;
color: #666666;
font-family: var(--sub-font);
font-weight: normal;
font-style: normal;
-webkit-background-clip: text;
}

/* about us section end */

/* services section start */

.services{
padding: 0 0 3%;
overflow: hidden;
}


.services .heading{
text-align: -webkit-center;
}

.services .heading p{
color: #000000;
font-weight: 700;
font-family: "Lato";
font-size: 15px;
max-width: 44%;
padding-top: 2%;
}

.services .col-md-3{
padding: 0;
}

.service-1 img {
width: 338px;
height: 300px;
}


.service-1-title {
padding: 15px 6%;
position: absolute;
bottom: 0;
box-shadow: inset 0 -44px 39px 9px #000;
width: 338px;
}

.service-1 {
position: relative;
transition: all 600ms ease;
}

.service-1-title h3, .service-1-cont h3 {
font-size: 22px;
line-height: 30px;
color: #f4f4f4;
font-weight: 800;
font-family: "Lato";
margin: 0;
}

.service-1-cont{
background-color: #d10a0ad4;
position: absolute;
padding: 6% 6%;
width: 338px;
height: 300px;
top: 0;
left: 0;
opacity: 0;
display: flex;
flex-direction: column;
justify-content: end;
transition: all 600ms ease;
z-index: 99;
}

.service-1-cont p {
color: #f4f4f4;
font-size: 11px;
margin-bottom: 10px;
font-weight: 700;
line-height: 15px;
}

.service-1-cont a {
color: #fff;
text-decoration: none;
padding: 7px 0;
border-radius: 6px;
border: 2px solid #f5f5f5;
width: 39%;
text-align: center;
font-size: 14px;
font-weight: 600;
transition: all 600ms ease;
}

.service-1:hover{
  transform: scale(1.1);
  cursor: pointer;
  z-index: 999;
  overflow: hidden;
}

.service-1:hover .service-1-title{
display: none;
}

.service-1:hover .service-1-cont{
opacity: 0.9;
}

.service-1-cont a:hover {
background: #fff;
color: #d3201e;
}

/* services section end */

/* photo gallery */
.gallery{
padding: 4% 0;
margin-bottom: -9%;
}

.gallery .head h2{
font-family: var(--sub-font);
font-weight: normal;
font-style: normal;
-webkit-background-clip: text;
color: #d10a0a;
font-size: 50px;
}

#flexbox {
display: flex;
/* flex-wrap: wrap; */
padding: 0 4px;
justify-content: center;
}

.column {
flex: 36%;
max-width: 39%;
padding: 0 8px;

}

.column img {
vertical-align: middle;
margin-top: 15px;
}

.column:nth-child(even) {
/* display: flex; */
flex-direction: column-reverse;
}

.gal-2 img {
height: 352px;
}

.gal-3 img {
height: 635px;
}

.button {
margin: 50px 0 0 0;
}
.button a{
background: url(../images/button-bg.png);
text-decoration: none;
border-radius: 6px;
color: #fff;
text-decoration: none;
padding: 10px 25px;
font-size: 18px;
}
.button a:hover{
  color: #fff;
}

.play-btn1 img, .play-btn5 img {
width: 75%;
height: auto;
}

.g1 {
position: relative;
}

.play-btn1 a img {
position: absolute;
top: 13%;
left: 10%;
opacity: 0;
transition: all 700ms ease;
}

.g1:hover .play-btn1 a img, .g1:hover .play-btn5 a img{
opacity: 1;
}

.play-btn5 a img {
position: absolute;
top: 32%;
left: 10%;
opacity: 0;
transition: all 700ms ease;
}
/* photo gallery */
/* package css   */
section.package {
position: relative;
padding: 5% 0;
margin: 5% 0;
}
.package:after{
content: "";
background: url(../images/pack-bg.png) center no-repeat;
background-size: contain;
width: 100%;
height: 300px;
position: absolute;
top: 0;
z-index: -1;
}

.pack-btn a {
  background: url(../images/button-bg.png);
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  margin-left: 100px;
  text-decoration: none;
}
.pack-btn a:hover{
color: #fff;
}
a.call_now.d-flex.justify-content-center.align-items-center {
  text-decoration: none;
}
.pack-detail {
  margin-top: 15px;
}
.pack-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: -10%; */
}
.call-info span{
color: #fff;
font-family: var(--main-font);
}
.call-info p{
font-family: var(--main-font);
color: #fff;
font-size: 22px;
text-decoration: none;
text-decoration: underline !important;
line-height: 1;
}
.call-detail img {
width: 80%;
margin-bottom: 10%;
}

.pack-btn {
margin-top: 5%;
}
.call-info span {
color: #fff;
font-size: 17px;
line-height: 1;
}
.weds-pack h1 {
font-family: var(--sub-font);
font-weight: normal;
font-style: normal;
-webkit-background-clip: text;
color: #fff;
font-size: 50px;
}
.weds-pack p {
color: #fff;
font-size: 15px;
margin-top: 2%;
font-family: var(--main-font);
}
.weds-pack img {
filter: brightness(0) invert(1);
}
/* package css   */
.foot-end:nth-child(1){
  position: relative;
}

.foot-end:nth-child(1)::after{
  position: absolute;
  content: "";
  background-image: url(../images/border.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 410px;
  height: 7px;
  color: #fff;
  top: 22%;
  left: 36%;
}

.client-review img {
    width: 11%;
    border: 3px solid #fe0000;
    border-radius: 50%;
    height: 80px;
    padding: 0;
    margin-right: 2%;
}

/* ABOUT PAGE CSS  */
.banner_page{
    background: url(../images/About_bg.png) center no-repeat;
    background-size: cover;
    padding: 8%;
    margin-top: -138px;
  }
  .about_banner {
    text-align: center;
    color: #fff;
    padding-top: 8%;
  }

  .about_banner h1 {
    font-family: var(--sub-font);
    font-weight: normal;
    font-style: normal;
    background: linear-gradient(16deg, #fff,#c7a12c, #c7a12c);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
    line-height: 77px;
    margin-bottom: 0;
  }

  .about_banner p {
    max-width: 35%;
    display: block;
    margin: 0 auto;
    color: #e2e2e3;
    font-weight: 500;
  }
  .about_page{
       padding: 6% 0 0;
      background: url(../images/about_page.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
  }
  .about_inner img {
    width: 85%;
  }

  .about_inner_para h1 {
    text-align: left;
    font-size: 33px;
    font-weight: 600;
  }

  .about_inner_para p {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    max-width: 96%;
    margin-bottom: 6px;
  }

  .about_inner_para h4 {
    text-align: left;
    font-size: 30px;
    line-height: 51px;
    color: #666666;
    font-family: var(--sub-font);
    font-weight: normal;
    font-style: normal;
    -webkit-background-clip: text;
  }

  .about_inner_para {
    margin-top: 21%;
  }
  .plan_event_img img {
    width: -webkit-fill-available;
    position: absolute;
    margin-top: 17%;
    right: -21%;
  }

  .plan_event h1 {
    font-size: 25px;
    max-width: 69%;
    line-height: 1.5;
    font-weight: 500;
  }

  .plan_event p {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    max-width: 100%;
    margin-bottom: 6px;
    color: #858585;
  }
  section.about-inner-2 {
    background: #f1f1f1;
    margin-bottom: 10%;
  }

  .plan_event_img {
    position: relative;
  }

  .plan_event {
    padding: 11% 0 15% 0;
  }
  /* ABOUT PAGE CSS  */
  /* Services Page  */
  .service_para {
    margin-top: 16%;
  }

  .service_para h2 {
      font-size: 27px;
      max-width: 60%;
      font-weight: 600;
      line-height: 1;
  }
  .service_para p {
    line-height: 1.9;
    font-size: 15px;
    max-width: 100%;
  }

  .service_para .pack-btn a {
    font-size: 16px;
    padding: 15px 44px;
    margin-left: 213px;
  }

  .service_box img {
    width: 95%;
  }
  section.services_page {
    margin: 7% 0;
  }
  section.services_page .col-md-6 {
    padding: 0;
  }
  /* Services Page  */
  /* contact page  */
  .contact{
    padding-top: 8%;
  }
  .main-heading h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 5%;
  }
  .our-contact {
    background: #f5f5f5;
    text-align: center;
    padding: 10% 10%;
    position: relative;
    height: 150px;
  }

  .our-contact span i {
    background: red;
    color: #FFF;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    top: -13%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    left: 43%;
  }
  .row {
    justify-content: center;
  }

  section.contact .row {
    justify-content: center;
  }

  .our-contact span {
    display: flex;
    justify-content: center;
  }

  .our-contact h6 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 8%;
  }

  .our-contact p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .our-contact p a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  .google-map iframe {
    width: 100%;
    height: 70%;
  }
  /* contact page  */

  .contact .row:nth-child(4){
    display: none;
  }

  /* packages css  */
  section.Packages {
    padding: 6% 0;
  }
  .packages-head{
    text-align: center;
    margin-bottom: 6%;
  }
  .packages-head h2 {
    font-family: var(--sub-font);
    font-weight: normal;
    font-style: normal;
    -webkit-background-clip: text;
    color: #d10a0a;
    font-size: 55px;
    text-align: center;
  }
  .pack-main h2 {
    font-family: var(--sub-font);
    font-style: normal;
    -webkit-background-clip: text;
    color: #d10a0a;
    font-size: 40px;
    text-align: center;
  }

  .pack-main span {
    font-size: 20px;
  }

  .pack-main span strong {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  ul.main-list {
    padding: 0 3% !important;
  }

  .pack-main {
    background: #fffbfb;
    padding: 7% 6%;
    transition: all 600ms linear;
    width: 93%;
    /* box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px; */
    box-shadow: 4px 3px 5px 3px #0000001a;
    height: 692px;
  }

  h4.pack-inner-heading {
    padding: 4% 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  ul.main-list li {
    font-size: 17px;
    margin-bottom: 4%;
    margin-top: 4%;
    list-style: none;
    position: relative;
    padding-left: 9%;
    color: #d10a0a;
    font-weight: 500;
  }
  ul.main-list li:before {
    content: "\f00c  ";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0%;
    font-size: 15px;
    top: 2px;
  }
  .pack-list-div {
    height: 275px;
    overflow: auto;
    margin-top: 5%;
  }
  span.detail-list {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
  }
  .pack-main:hover h2{
   color: #d10a0a;
  }
  .pack-main:hover  .main-list li{
    color: #ffff;
  }
  .pack-main:hover a.pack-btn{
    background: url(../images/globe-btn.png) no-repeat  left;
    color:#fff;
  }
  .pack-main:hover{
    /* background: #b499b1; */
    background: url(../images/test--bg.png) no-repeat ;
    background-color:#000 ;
    background-size: cover;
    color: #d10a0a;
  }
  .order-btn {
    margin: 12% 0 4% 0;
    text-align: center;
  }
  .pack-list-div::-webkit-scrollbar {
    width: 7px;
  }
.order-btn a.pack-btn{
    background: url(../images/globe-btn.png) no-repeat center ;
    color: #fff;
    border-radius: 5px;
    padding: 15px 20px;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    transition: all 350ms linear;
  }
  .pack-list-div::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .pack-list-div::-webkit-scrollbar-thumb {
    background: #d10a0a;
  }
  .pack-list-div::-webkit-scrollbar-thumb:hover {
    background: #d10a0a;
  }
  .packages .slick-dots li.slick-active button:before {
    display: none;
  }

  .Packages .slick-prev{
    filter: invert(1);
  }
  .Packages .slick-next{
    filter: invert(1);
  }
  .pack-price {
    height: 150px;
  }
  .Packages .wrapper .slick-list {
    margin: 0 22px !important;
  }
  .Packages .wrapper .slick-slide{
    height: 800px !important;
  }
  .Packages .wrapper .slick-prev{
    background: url(../images/slick-left-btn.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    width: 50px !important;
    height: 45px !important;
    left: -6% !important;
}
  .Packages .wrapper .slick-next{
    background: url(../images/slick-right-btn.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    width: 50px !important;
    height: 45px !important;
    right: -4% !important;
  }
  /* packages css  */

  /* modal css  */
.modal-content {
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal-header {
  border-bottom: none !important;
}

.modal-header img {
  width: 27%;
}

.col-md-12.from-group {
  position: relative;
}

.col-md-12.from-group.modal-form i {
  position: absolute;
  top: 33px;
  left: 10%;
  font-size: 17px;
  color: #d10a0a;;
}

.col-md-12.from-group.modal-form input {
  padding: 11px 40px;
  margin: 4% auto;
  width: 90%;
  display: block;
  background: transparent;
  color: #fff;
}

.col-md-12.form-group.modal-btn button {
  width: 40%;
  height: 45px;
  display: block;
  margin: 16px auto;
  background: url(../images/globe-btn.png) no-repeat left;
  color: #fff;
}

.modal-header .btn-close {
  width: 8% !important;
  height: 38px !important;
  position: absolute !important;
  top: -2% !important;
  right: -2%;
  background-color: #d10a0a !important;
  border-radius: 50% !important;
}

.modal-header .close:focus {
  outline: none;
}
/* modal css  */

.dineuron-menu{width: 100%; height: 100%; opacity: 0; visibility: hidden;}
.nav-open .dineuron-menu {opacity: 1; visibility: visible; background: rgba(0, 0, 0, 0.92); }
.dineuron-menu .nav li a{color:#FFF; font-size: 5vh; font-weight:600; }
.dineuron-menu .nav li{
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -moz-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -o-animation-timing-function: cubic-bezier(.45,.005,0,1);
    animation-timing-function: cubic-bezier(.45,.005,0,1);
}
.nav-open .dineuron-menu .nav li{
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
}
.dineuron-menu .nav li.delay-1{-webkit-transition-delay:0.1s; -moz-transition-delay:0.1s; -ms-transition-delay:0.1s; -o-transition-delay:0.1s; transition-delay:0.1s; }
.dineuron-menu .nav li.delay-2{-webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; -ms-transition-delay:0.2s; -o-transition-delay:0.2s; transition-delay:0.2s; }
.dineuron-menu .nav li.delay-3{-webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; -ms-transition-delay:0.3s; -o-transition-delay:0.3s; transition-delay:0.3s; }
.dineuron-menu .nav li.delay-4{-webkit-transition-delay:0.4s; -moz-transition-delay:0.4s; -ms-transition-delay:0.4s; -o-transition-delay:0.4s; transition-delay:0.4s; }
.dineuron-menu .nav li.delay-5{-webkit-transition-delay:0.5s; -moz-transition-delay:0.5s; -ms-transition-delay:0.5s; -o-transition-delay:0.5s; transition-delay:0.5s; }
.dineuron-menu .nav li.delay-6{-webkit-transition-delay:0.6s; -moz-transition-delay:0.6s; -ms-transition-delay:0.6s; -o-transition-delay:0.6s; transition-delay:0.6s; }
.dineuron-menu .nav li.delay-7{-webkit-transition-delay:0.7s; -moz-transition-delay:0.7s; -ms-transition-delay:0.7s; -o-transition-delay:0.7s; transition-delay:0.7s; }
.dineuron-menu .nav li.delay-8{-webkit-transition-delay:0.8s; -moz-transition-delay:0.8s; -ms-transition-delay:0.8s; -o-transition-delay:0.8s; transition-delay:0.8s; }
.dineuron-menu .nav li.delay-9{-webkit-transition-delay:0.9s; -moz-transition-delay:0.9s; -ms-transition-delay:0.9s; -o-transition-delay:0.9s; transition-delay:0.9s; }

.nav-button{position:relative; z-index:1111; border:solid 1px #f8f8f8;  height:42px; display:block; width:50px; padding:12px; }
.nav-button #nav-icon3{width:24px;height:22px;display:inline-block;position:relative;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;}
.nav-button #nav-icon3 span{display:block;position:absolute;height:3px;width:100%;background:#FFFFFF;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
.nav-button #nav-icon3 span:nth-child(1){top:0}
.nav-button #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){top:7px}
.nav-button #nav-icon3 span:nth-child(4){top:14px}
.nav-open #nav-icon3 span:nth-child(1){top:9px;width:0;left:50%}
.nav-open #nav-icon3 span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.nav-open #nav-icon3 span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-open #nav-icon3 span:nth-child(4){top:9px;width:0;left:50%}

.flex-center{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:100%}



button.slick-prev.slick-arrow.slick-disabled {
    display: none !important;
}

button.slick-next.slick-arrow.slick-disabled {
    display: none;
}

.dropdown-toggle:hover>.dropdown-menu{
		display: block;
}
